/* comentarios */
@import url('https://fonts.googleapis.com/css2?family=Familjen+Grotesk:ital,wght@0,400..700;1,400..700&family=Geist:wght@100..900&display=swap');

body { 
background-color: green;
font-family: "Familjen Grotesk", sans-serif;
}

@media (min-width:700px){
  body {
  background-color:blue;
  }
 main {
   display:flex;
   min-height:100vh;
   flex-direction:column; 
   justify-content:flex-start; 
   gap:10px; 
   margin:10px; 
     column-count:1;
      column-width:250px;
    }
}
  @media (min-width:1700px){
  body {
  background-color:pink;
  } 
  main {
   display:flex;
  flex-wrap:wrap;
   min-height:100vh;
   flex-direction:column; 
   justify-content:flex-start; 
   gap:10px; 
   margin:10px; 
     column-count:2;
      column-width:500px;
    }
     
}
  @media (min-width:2700px){
  body {
  background-color:white;
  }
   main {
   display:flex;
  flex-wrap:wrap;
   min-height:100vh;
   flex-direction:column; 
   justify-content:flex-start; 
   gap:10px; 
   margin:10px; 
     column-count:4;
      column-width:1000px; 
   }
}





