/* comentarios */
@import url('https://fonts.googleapis.com/css2?family=Familjen+Grotesk:ital,wght@0,400..700;1,400..700&family=Geist:wght@100..900&display=swap');

body { 
backround-color: green
font-family: "Familjen Grotesk", sans-serif;
}

@media (min-width:700px){
  body {
  backround-color:blue
  }
}
  @media (min-width:1700px){
  body {
  backround-color:pink
  }
}
  @media (min-width:2700px){
  body {
  backround-color:white
  }
}


/*parrafos*/
@media (min-width:700px){
    #parrafo p {
      column-width:25px
    }
  }


  @media (min-width:1700px){
    #parrafo p {
      column-width:40px
    }
  }


  @media (min-width:2700px){
    #parrafo p {
      column-width:70px
    }
  }

